

.contardivmaior{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{margin-bottom: 5px;border-bottom: 2px solid black;}
    h4{margin-top: 0px;}
    .contardivmenor{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        label{
            margin: 0px;
            margin-top: 10px;
        }
        input{
            text-align: center;
            margin: 0px;
            background-color: #272727;
            color: #b5b5b5;
        }
    }
    .contarresp{
        text-align: center;
    }
    textarea{
        resize: none;
        width: 250px;
        height: 100px;
        overflow-y: auto;
        text-wrap: wrap;
        text-align: center;
        background-color: #272727;
        color: #b5b5b5;
    }
    textarea::-webkit-scrollbar{
        display: none;
    }
}