body{
	margin: 0px;
	padding: 0px;
	overflow-y: auto;
	background-color: #141515;
	button:hover{
		cursor: pointer;
	}
	label{
		color:#9c9c9c;
	}
}
body::-webkit-scrollbar{
    display: none;
}

#head{
	height: 100px;
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: space-between;
	align-items: center;
	background-color: #272727;
	
	h2,b{
		color: #757575;

	}
	h2:hover{
		cursor: pointer;
	}
	.headdiv{
		display: flex;
		align-items: center;
		padding:0px;
		div{
			align-content: center;
			text-align: center;
			border-radius: 15px;
			padding: 0px;
			width: 200px;
			height: 56px;
			h2{
				margin: 0px;
			}
			b{
			margin: 0px;
			font-size: 15px;
			}
		}

	}
}
#cont_principal{
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 0px;
}
#main{
	width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding-top: 20px;
	h1,h2,h4,b,span{
		color: #757575;
	}
	h3{
		color: #9c9c9c;
	}
}
#aside{
	padding-top: 50px;
	width: 0px;
	max-height: 500px;
	align-items: center;
	overflow-x: hidden;
    overflow-y:unset;
	scrollbar-width: none;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
.indbtnp{
	border-radius: 20px;
	border-width: 0px;
	align-items: center;
	height: 30px;
	width: 100px;
	background-color: #505050;
	color:#b5b5b5;
	font-weight: bolder;
}
.indbtnp:hover{
    background-color: rgb(30, 30, 30);
}
.inditem{
	border-bottom: 2px solid black;
	margin-bottom: 5px;
	display: flex;

	img{
		background-color: white;
		border-radius: 5px;
		margin-bottom: 5px;
	}
	img:hover,p:hover{
		cursor: pointer;
	}
	p:hover{
		color: #9c9c9c;
		text-decoration:underline;
	}

	p{	
		color: #4e4e4e;
		margin: 0px;
		margin-left: 10px;
	}
}
.indconjunto{
	width: 400px;
}
